@charset "gb2312";
/* CSS Document */

	.border{
			border:1px solid gray;
			border-top:none;
			padding-bottom:60px;
		}
		.email_btn_off{
			cursor:pointer;
			padding-top:74px;
			width:133px;
			height:98px;
			background:url(../skin/off.png) center no-repeat;
		}
		.email_btn_on{
			cursor:pointer;
			padding-top:74px;
			width:133px;
			height:98px;
			background:url(../skin/on.png) center no-repeat;
		}
		.ml180{
			margin-left:180px;}
		.yes_icon{
			right: 295px;
			background: url("../skin/yes.png") center no-repeat;
		    display: none;
		    height: 15px;
		    position: absolute;
		    top: 40px;
		    width: 15px;
		}